<h2>Listado de Ventas</h2>

<table border="1" *ngIf="ventas.length > 0; else sinDatos">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Monto</th>
      <th>Fecha</th>
      <th>Región</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let venta of ventas">
      <td>{{ venta.cliente }}</td>
      <td>{{ venta.monto  | number:'1.0-0' }}</td>
      <td>{{ venta.fecha }}</td>
      <td>{{ venta.region }}</td>
    </tr>
  </tbody>
</table>

<ng-template #sinDatos>
  <p>No existen ventas para el rango especificado</p>
</ng-template>
